[Desktop Entry]
Version=1.0
Type=Application
Name=VK Музыка
Comment=Простой пример приложения на C++
Exec=flatpak run com.example.dummy4
Icon=/usr/share/icons/hicolor/256x256/apps/dummy4.png
Terminal=false
Categories=Utility;
